<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite 2">
  <test thread-count="5" name="Test 2">
    <classes>
      <class name="com.hbt.semillero.servicios.AppTest"/>
    </classes>
  </test> <!-- Test 2 -->
</suite> <!-- Suite 2 -->
